body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction:column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#image {
    width: 300px;
    cursor: pointer;
}

#state {
    font-size: 100px;
}