@font-face {
  font-family: retro_gaming;
  src: url(retro_gaming_font.ttf);
}

* {
  text-align: center;
  font-family: retro_gaming;
}

html,
body {
  height: 98%;
}

table {
  width: 100%;
  height: 65%;
}

button {
  width: 80px;
  border-radius: 5rem;
  height: 80px;
}


.wrong:hover {
  transform: scale(0.95);
}

td {
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out ;
}



.right {
  background-color: grey
}
